#date-box {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  height: 16px;
  aspect-ratio: 1;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
