.tracking-container {
  background-color: #323334;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.tracker-title-container {
  display: flex;
  justify-content: space-between;
}
