.tracking-container {
  background-color: #323334;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.tracker-title-container {
  display: flex;
  justify-content: space-between;
}

.tracking-calendar {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, auto);
  gap: 4px;
}

.short {
  grid-template-rows: auto;
}
