@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
}

body {
  font-family: "Geologica";
  background-color: black;
}

.white-text {
  color: white;
}
