@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
}

html,
body {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}

html {
  min-height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 64px 32px;
}

body {
  margin: auto;
  font-family: "Geologica";
  max-width: 366px;
}

.unstyled-link {
  text-decoration: none;
}

.clickable:hover {
  filter: brightness(75%);
  cursor: pointer;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.large-text {
  font-size: 1.5em;
}

.medium-text {
  font-size: 1.25em;
}

.normal-text {
  font-size: 1em;
}

.standard-button {
  background: none;
  border: none;
  font-size: 16px;
  padding: 8px 16px;
}
