#login-popup {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #5596ff;
  gap: 32px;
  padding: 32px 48px;
}

#login-button {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 8px 16px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

#github-logo-img {
  max-height: 16px;
  max-width: 16px;
}
