#login-popup {
  position: absolute;
  top: calc(50% - 150px);
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #c2d9ff;
  gap: 32px;
  width: 250px;
  border: 2px solid black;
  padding: 32px 48px;
}

.mini-logo {
  font-size: 2rem;
}

#sign-in-text {
  font-size: 1rem;
}

#login-button {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 8px 16px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

#login-button:hover {
  cursor: pointer;
  background-color: rgb(234, 234, 234);
}

#github-logo-img {
  max-height: 1rem;
  max-width: 1rem;
}
